[Unit]
Description=scheduling daemon for cf-agent
Documentation=man:cf-execd https://docs.cfengine.com/latest/reference-components-cf-execd.html

# The following ensures that the service is activated only if we have a
# promises.cf in place. If there is no promises.cf, there is no configuration
# for the service either...
ConditionPathExists=/var/cfengine/inputs/promises.cf

# The following ensures that this service is shut down when the cfengine3
# target is stopped
Requires=cfengine3.target

[Service]
Type=simple
ExecStart=/var/cfengine/bin/cf-execd -F
Restart=always
