[Unit]
Description=CFEngine file server daemon
Documentation=man:cf-serverd https://docs.cfengine.com/latest/reference-components-cf-serverd.html

# The following ensures that cf-serverd is started when the network is available
# (if the network is down, there is little point in bringing up cf-serverd...)
After=network.target

# The following ensures that the service is activated only if we have a
# promises.cf in place. If there is no promises.cf, there is no configuration
# for the service either...
ConditionPathExists=/var/cfengine/inputs/promises.cf

# The following allows activation of this service as part of cfengine3.service
PartOf=cfengine3.service

[Install]
# The following ensures that this service is made part of the multi-user
# target
WantedBy=multi-user.target

# the following ensure that cfengine3 start this service
WantedBy=cfengine3.service

[Service]
Type=simple
ExecStart=/var/cfengine/bin/cf-serverd -F
Restart=always
